.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    /* color: white; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    line-height: 17px;
    font-size: 12px;
  }
  .footer h3 {
    font-weight: 600;
    font-size: 16px;
  }
  .footer-website {
    /* text-align: left; */
  }
  .footer_text{
      text-align: center;
  }
  a {
      text-decoration: none;
  }