.Modal {
    position: absolute;
    /* This makes the modal scrollable => */ display: block;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 45px 32px;
    background: #E5E5E5;
    padding-bottom: 10px;
  }

  .Overlay {
    position: fixed;
    overflowY: "auto";
    background: #E5E5E5;
  }

  .modalCloseX{
      position: absolute;
      right:16px;
      top:16px;
  }

  .topic{
      font-size: 12px;
      text-align: center;
      color: #273838;
      font-weight:500;
  }
  .lesson_name{
      margin-top:5px;
      font-size: 21px;
      font-weight:600;
      color: #5B7E7E;
      line-height:26px;
      text-align: center;

  }
  .intro{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
  }
  .credits{
      text-align: center;
      color: #E6B760;
      font-size: 12px;
  }
  hr{
    border-top: 1px solid #9EBEBE;
    margin-top:30px;
  }
  ul,ol{
    list-style-position: inside;
 }
 li{
     padding-left:10px;
 }

 .content{
     margin-top: 30px;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
 }

 .moneyButton{
     margin-top:30px;
     width:100%;
     background: #5B7E7E;
        border-radius: 8px;
     padding:16px;
     text-align: center;
     color:white;
     font-weight: 500;
    font-size: 14px;
 }

 .flex_play{
     margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
 }
 .flex_play p{
    font-weight: 800;
    font-size: 11.2px;
    line-height: 14px;
    text-align: center;
    color: #5B7E7E;
    margin-left: 4px;
 }